body {
  background-color: #ede5d3;
  font-family: "Karla", sans-serif;
}

.article {
  background-color: #f4e242;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 5px;
  border: 2px black inset;
  border-radius: 20px;
  text-align: center;
}

.card {
  height: 30vh;
  position: relative;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.modal {
  background-color: #ede5d3;
  text-align: left;
  max-width: 30%;
  border: 5px solid black;
}

.modal-footer {
  background-color: #ede5d3 !important;
}
