body {
  background-color: #ede5d3;
  font-family: "Karla", sans-serif;
}

.card {
  min-height: 300px;
  position: relative;
}

.card:hover {
    background-color: #3949ab !important;
}
.card-content {
    height: 180px;
}

.comment_button {
    position: relative;
    bottom: -70px;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.modal {
  background-color: #ede5d3;
  text-align: left;
  max-width: 30%;
  border: 5px solid black;
}

.modal-footer {
  background-color: #ede5d3 !important;
}

.btn:hover {
    background-color: #1976d2 !important;
}